<div class="container">
  <div class="agenda-card">
  <h4>U bent van harte welkom bij de volgende concerten:</h4>
  <div class="datum-passed">
    <p class="date">16 september 2017</p>
      <p>o.a. Stedelijk Leerdams Mannenkoor “Zang en Vriendschap” van 20.00 tot 20.20 uur in het Winkelcentrum in Leerdam.
    </p>
    <p class="date">24 september  2017</p>
    <p>Koor ExpresZo en flamencogitarist  Alessio Rooders, Sint Jozefkerk, Oude Molenstraat 8, Oss, 12.00 uur.
    </p>
    <p class="date">6 oktober 2017</p>
    <p>Stedelijk Leerdams Mannenkoor "Zang & Vriendschap" 
    Afscheids Concert van Kupalje uit Minsk, Wit Rusland, Maria kerk, Leerdam, 20.00 uur.
    </p>
  </div>
  <p class="date">21 oktober 2017</p>
  <p>Stedelijk Leerdams Mannenkoor "Zang & Vriendschap", KNZV Mannenkoren concours,
    Haarlem Sint Bavo.
  </p>
  <p class="date">19 november 2017</p>
  <p>Koor ExpresZo, Jubileum Concert, De Koppelinck, Geffen.
  </p>
  <p class="date">20 december 2017</p>
  <p>Dongens Mannenkoor Kerst Concert Kapel vd Zusters Fransicanessen, Dongen, 20.00 uur. Solist Tenor André Cruz.
</p>
<p class="date">21 december 2017</p>
<p>Liederenkring, Kerst Concert, Catharinenberg 19.30-20.30 uur</p>
<p class="date">22 december 2017</p>
<p>Dongens Mannenkoor Kerst Concert Oude Kerk, Dongen, 20.00 uur. Solist Tenor André Cruz.</p>
<p class="date">24 december 2017</p>
<p>Kerstmis Vincentius, Udenhout, De Liederenkring. 20.00-21.30 uur. </p>
  </div>
</div>
