<div class="container">
  <h3>Didjeridu les</h3>
  <p>De individuele didjeridu les begint met het leren spelen van de grondtoon. Daarna leer je in stappen de circulaire ademhalingstechniek. Dit wil zeggen dat je inademt door de neus en tegelijkertijd lucht uitperst met je wangen door de mond. Hierdoor kun je wel een uur achter elkaar doorblazen zonder dat je de toon onderbreekt.

Wanneer je dit beheerst leer je accenten met de stem, de wangen, de tong en de adem te maken. Deze accenten in combinatie met de circulaire ademhaling gaan we toepassen in verschillende maatsoorten, namelijk: 2/4, 3/4, 4/4, 5/8, 7/8 en 8/8.

Ook leren we door het gebruik van de stem het imiteren van verschillende dierengeluiden uit Australië, zoals: de dingo, de laughing kookaburra, de goanna, het sissen van de slang en het springen van de kangoeroe. Verder leer je een aboriginal story te spelen op de didjeridu.

Als je nog geen eigen instrument hebt leer je hoe je heel goedkoop een eigen instrument van pvc kunt maken. Didjeridulessen duren een uur en worden gegeven bij mij thuis. Zie contact voor mijn gegevens en het maken van een afspraak.</p>
<h3>Didjeridu workshop</h3>
<p>Tijdens een didjeridu workshop maak je in een groep kennis met de basisvaardigheden van de didjeridu. Samen worden oefeningen gedaan, waarna ervaringen worden uitgewisseld. De inhoud is in beknopte vorm wat ook onder didjeridu les vermeld staat. In grote lijnen komt dit neer op het aanleren van de grondtoon, het oefenen van de circulaire ademhaling en oa. het imiteren van verschillende Australische dierengeluiden, zoals de dingo, de laughing kookaburra en de goanna. We ronden de workshop af met een aboriginal song die we met allen tezamen uitvoeren op de didjeridu.

Een groepsgrootte van 10 á 15 deelnemers is goed werkzaam. Originele en oefendidjeridu's kunnen gehuurd worden. Tijdsduur is afhankelijk van wat de groep wil. Tussen een half uur en anderhalf uur wordt vaak gedaan.
</p>
</div>
