<div class="wrapper-banner">
  <div class="container">
    <div class="banner" style="background-image: url('http://res.cloudinary.com/do6jihcuc/image/upload/v1504534831/dirigent_vjywqu.jpg');">
    <div class="banner-content">
      <h2>Jan Terpstra</h2>
      <h1>Dirigent, piano lessen, didgeridoo lessen & workshops</h1>
    </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <div class="information-row">
        <p>In 2012 was ik dirigent in de laatste aflevering van de televisie serie: Moeder, ik wil bij de Revue. Deze is destijds bij de publieke omroep uitgezonden. Voor een televisie serie bij de publieke omroep had Moeder, ik wil bij de Revue onwaarschijnlijk hoge kijkcijfers. Dit had tot gevolg dat Joop van den Ende Theaterproducties dit heeft opgepakt en er nu een Musical van draait.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="information">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Koordirigent</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504531150/Jan_oingoh.jpg" style="width:200px;height:200px;">
            <ul>
              <li>Enthousiaste, bevlogen dirigent</li>
              <li>Duidelijke, gestructureerde en boeiende repetities</li>
              <li>Afwisselend repetoire</li>
              <li>Altijd op zoek naar muzikale uitdaging</li>
            </ul>
            <%= link_to "Meer", koor_path, :class =>"btn-card"  %>
            <%= link_to "Agenda", agenda_path, :class =>"btn-agenda"  %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Pianoles</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504540863/piano_Cropped_xywvnv.jpg" style="width:200px;height:200px;">
            <ul>
              <li>Betrokken en op de leerling afgestemd</li>
              <li>qua tempo en muzikale voorkeur</li>
              <li>van bv. Adele tot Mozart,</li>
              <li>In voor iedereen begrijpelijke lessen </li>
              <li class="last-li"></li>
            </ul>
            <%= link_to "Meer", piano_path, :class =>"btn-card"  %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Didgeridoo</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504541179/didjeridu_soivw9.jpg" style="width:200px;height:200px;">
           <ul>
             <li>Traditioneel blaasinstrument</li>
             <li>Van de Aboriginals uit Australië</li>
             <li>Gemaakt van eucalyptushout</li>
             <li>Uitgehold door termieten</li>
             <li class="last-li"></li>
           </ul>
            <%= link_to "Meer", didjeridu_path, :class =>"btn-card"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

