<div class="wrapper-banner">
  <div class="container">
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/do6jihcuc/image/upload/v1504534831/dirigent_vjywqu.jpg');">
      <div class="banner-content">
        <h1>Jan Terpstra</h1>
        <h2>Dirigent, piano lessen, didjeridu lessen & optredens</h2>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <div class="information-row">
        <p>In 2012 was ik dirigent in de laatste aflevering van de televisie serie: Moeder, ik wil bij de Revue. Deze is destijds bij de publieke omroep uitgezonden. Voor een televisie serie bij de publieke omroep had Moeder, ik wil bij de Revue onwaarschijnlijk hoge kijkcijfers. Dit had tot gevolg dat Joop van den Ende Theaterproducties dit heeft opgepakt en er nu een Musical van draait.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="information">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Koordirigent</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504531150/Jan_oingoh.jpg" style="width:200px;height:200px;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
            </p>
            <%= link_to "Meer", koor_path, :class =>"btn-card"  %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Piano</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504540863/piano_Cropped_xywvnv.jpg" style="width:200px;height:200px;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
            </p>
            <%= link_to "Meer", piano_path, :class =>"btn-card"  %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <h3>Didgeridu</h3>
            <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504541179/didjeridu_soivw9.jpg" style="width:200px;height:200px;">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
            </p>
            <%= link_to "Meer", didjeridu_path, :class =>"btn-card"  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

