<div class="container">
  <h3>Pianoles</h3>
  <div class="bulletlist">
    <ul>
      <li>Bedoeld voor individuele lessen</li>
      <li>Persoonlijke begeleiding</li>
      <li>Lessen van 1 uur per week</li>
    </ul>
  </div>
  <div class="piano-box">
    <p>
    De pianoles is bedoeld voor jong en oud. Men begint met eenvoudige oefeningen om zowel de noten als de vingers te leren gebruiken. Op speelse wijze groeit het naar een steeds hoger niveau. Kinderen kunnen dan, als ze dat leuk vinden, over stappen op het leren van de nieuwste popliedjes. Hierbij leren ze zichzelf te begeleiden in akkoorden.</p>
    <img src="http://res.cloudinary.com/do6jihcuc/image/upload/v1504707805/piano2_z5jzfh.jpg" style="width:315px;height:177px;">
    </div>
    <p class="last-paragraph">
    Volwassenen kunnen, afhankelijk van hun voorkeur, verder gaan met klassieke muziek. Andersom is voor beiden ook mogelijk natuurlijk. De lessen zijn wekelijks op alle dagen dat de lagere scholen ook les hebben. Iedere week een half uur les en tijdens de schoolvakanties dus vrij. Het is ook mogelijk om losse lessen af te spreken. Voor een gratis proefles klik hier. Voor media klik hier.</p>

    <p class="paragraph-bold">Voor een gratis pianoles, stuur mij een berichtje! Ga naar <%= link_to "Contact", new_contact_path %></p>
</div>
